<!DOCTYPE html>
<html lang="en" xml:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type ="text/css" media="screen" href="style.css">
    <title th:text="${name}"></title>
</head>
<body>
    <h1 th:text="${name}"></h1>
    <span th:text="'v' + ${name}"></span>
    <span th:text="'Description: ' + ${description}"></span>
    <div th:text="'Environment: ' + ${profile}"></div>
    <div th:text="'Database: ' + ${database}"></div>
    <hr>
    <h2> Simulator</h2>
    <pre><a href = "/simulator">/simulator</a></pre>

    <h2> Real Time</h2>
    <pre><a href = "/realtime">/realtime</a></pre>

    <h2> History</h2>
    <pre><a href = "/history">/history</a></pre>

</body>
</html>
